@import "tailwindcss";

:root {
  /* Cores do sistema */
  --background: #1F1F1F;
  --foreground: #FDFEFF;

  /* Paleta personalizada */
  --color-primary: #2B2B2B;
  --color-text-primary: #FEFEFE;
  --color-secondary: #303030;
  --color-tertiary: #252525;
  --color-accent: #B89E6E;
  --color-accent-dark: #590C13;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
